body {

 background-image: url("https://www.presse-citron.net/app/uploads/2021/09/serie-the-last-of-us.jpg");
 background-repeat: no-repeat;
 background-size: 1900px

}

img{
width :1200px;
margin-left:800px;
border-radius: 50%;


}

P{

background-image: url("https://www.shutterstock.com/image-photo/beautiful-campfire-forest-during-day-260nw-2137138251.jpg");


}
